/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #852e2e;
  --ifm-color-primary-dark: #782929;
  --ifm-color-primary-darker: #712727;
  --ifm-color-primary-darkest: #5d2020;
  --ifm-color-primary-light: #923333;
  --ifm-color-primary-lighter: #993535;
  --ifm-color-primary-lightest: #ad3c3c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --aa-primary-color-rgb: 133, 46, 46 !important;
  --aa-muted-color-rgb: 133, 46, 46 !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c22525;
  --ifm-color-primary-dark: #af2121;
  --ifm-color-primary-darker: #a51f1f;
  --ifm-color-primary-darkest: #881a1a;
  --ifm-color-primary-light: #d52929;
  --ifm-color-primary-lighter: #d83232;
  --ifm-color-primary-lightest: #dd4f4f;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --aa-primary-color-rgb: 194, 37, 37 !important;
  --aa-muted-color-rgb: 194, 37, 37 !important;
}
